body.splash {
  overflow: hidden;
}


#codesanity {
font-family: sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 100000000;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  transition: all 2s ease 1s;
  overflow: hidden;
  background: linear-gradient(-45deg,#ccc,#67a6c4,#ccc,#4b8a7f,#ccc);
  background-size: 400% 400%;
  animation: Gradient 40s ease infinite;
  opacity: 0;
}
#codesanity.on {
  opacity: 1;
}

#quote-container {
  border-radius: 8px;
}

main {
  /* height: 16em; */
  order: 2;
  width: 30%;
}

main blockquote.cs-bq {
  font-size: 2em;
  font-family: Neuzit, sans-serif;
  font-weight: 400;
  color: #7C7277;
  margin: 20px auto;
  text-align: center;
  padding: 0;
  quotes: "“" "”" "‘" "’";
  line-height: 1.5em;
  letter-spacing: 2px;
  background-color: transparent;
  background: rgba(256, 256, 256, 0.2 );
  border: none;
  padding: 10px;
  border-radius: 10px;
}

main blockquote:before {
    content: open-quote;
}
main blockquote:after {
      content: close-quote;
}

cite {
  padding-top: 10px;
  /* height: 70px; */
  font-size: 1.5em;
  font-weight: 600;
  font-family: Neuzit, sans-serif;
  float: right;
  color: #601F39;
  margin-right: 10px;
  margin-top: 10px;
  font-style: normal;
  line-height: 70px;
  padding-right: 20px;
  font-size: 16px;
}

.photo {
  height: 70px;
  width: 70px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 70px;
  float:right;
  margin-right:12px;
  border: 2px solid #fff;
}

.photo.will {
  background-image: url('chrome-extension://ckeagemkpccokmnbcfkmmjnmnnpmnmai/assets/ws.jpg');
}

.photo.schno {
  background-image: url("chrome-extension://ckeagemkpccokmnbcfkmmjnmnnpmnmai/assets/sm.jpg");
}

.photo.samg {
  background-image: url("chrome-extension://ckeagemkpccokmnbcfkmmjnmnnpmnmai/assets/sg.jpg");
}

.photo.sams {
  background-image: url("chrome-extension://ckeagemkpccokmnbcfkmmjnmnnpmnmai/assets/ss.jpg");
}

.photo.ryan {
  background-image: url("chrome-extension://ckeagemkpccokmnbcfkmmjnmnnpmnmai/assets/rt.jpg");
}

#countdown {
/*   font-family: sans-serif; */
  font-size: 100px;
/*   height: 100px; */
  width: 100%;
  text-align: center;
}

.minutes {
/*   height: 100px; */
/*   width: 50px; */
/*   background: blue; */
  display: inline-block;
}

.seconds {
/*   height: 100px;
  width: 50px; */
/*   background: yellow; */
  display: inline-block;
}

@keyframes Gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}

@keyframes GradientText {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}